.container{
    display: flex;
    justify-content: space-around;
}

.item{
    width: 30%;
    background-color: burlywood;
}
@media (max-width : 600px) {
    .container{
        flex-direction: column;
    }
    .item{
        width: 100%;
    }
}